.calc__container {
    position: relative;
    margin-left: 2px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px gray;
    border-radius: 0.4rem;
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    font-size: 30px;
}

.operations {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number {
    margin-left: 10px;
    margin: 7px;
}

.operations_btn {
    vertical-align:middle;
    text-align: center;
    font-size: 30px;
    margin: 5px;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color:gray;
    border-radius: 0.5rem;
}

.output_fied {
    display: flex;
    flex-direction: row;
}

.output_fied {
    margin: auto;
    text-align: center;
}

.flex__numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.num_btn {
    vertical-align:middle;
    text-align: center;
    font-size: 30px;
   
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
}
.flex__equals {
    margin-top:25px;
    margin-bottom:25px;
    display: flex;
}

.btn__blue  {
    vertical-align:middle;
    text-align: center;
    font-size: 30px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 30px;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: blue;
}